* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  box-sizing: border-box;
}
.calc {
  display: flex;
  justify-content: center;
}
.container1 {
  display: flex;
}
.calculator {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#c_text {
  margin: auto;
}
#result {
  display: block;
  padding: 0;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: right;
}
#result:focus {
  outline: none;
}
.button {
  width: 50px;
  height: 50px;
  margin: 5px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}
.button:active,
.button:hover {
  background-color: #e0e0e0;
}
.btn {
  width: 114px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  margin: 0px 2px 40px 4px;
  background-color: #0d6efd;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  /* padding: 17px 47px; */
  cursor: pointer;
}

#history-list li {
  display: block;
  text-align: right;
}
.f1 {
  padding: 5px 0px;
  color: #888;
}
.f2 {
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

#history {
  display: none;
}

.pagination{
  display: flex;
  justify-content: space-evenly;
}

/* 历史记录样式 */
#history {
  padding: 20px;
}

#history h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

#history-list {
  list-style-type: none;
  padding: 0;
}

#history-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: row-reverse;
}

#history-list li .expression {
  flex: 1;
  font-weight: bold;
}

#history-list li .result {
  flex: 1;
  text-align: right;
  color: #337ab7;
}

/* 分页按钮样式 */
#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#prev-page, #next-page {
  padding: 10px 20px;
  font-size: 18px;
  margin: 0 10px;
  background-color: #0d6efd;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#prev-page:disabled, #next-page:disabled {
  background-color: #9ec5fe;
  cursor: not-allowed;
}